@model IEnumerable<TechieTree.Models.Trainer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Login here", "Login")
</p>
<div class="jumbotron">
    <img src="~/Images/Trainerimg.jpg" />

</div>